<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <script src="../static/scripts/timeline.js"></script>
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/styles/timeline.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="glowing-orbs">
      <div class="orb blue-orb"></div>
      <div class="orb purple-orb"></div>
    </div>
    {% import 'menu.html' as menu %}
    {{ menu.menu() }}
    <div class="content-container">
      <h1>Timeline</h1>

      <form class="post-form" onsubmit="handleFormSubmit(event)">
        <h2>New post</h2>

        <div class="input-div">
          <input type="text" id="form-name" name="name" placeholder="Name" required>
          <input type="email" id="form-email" name="email" placeholder="E-Mail" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Please enter a valid email" required>
        </div>

        <textarea placeholder="Content" id="form-content" name="content" required></textarea>

        <input type="submit" class="form-button" value="Post" />
      </form>
      
      <div class="timeline-container">
        {% for post in posts %}
          <div class="timeline-post">
            <div class="timeline-post-content">
              <div class="timeline-post-header">
                <h3>{{ post.name }}</h3>
                <h4>- {{ post.email }}</h4>
              </div>
              <h4 class="timeline-post-date">{{ post.created_at }}</h4>
              <p>{{ post.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>